{% extends 'front/master.html.twig' %}


{% block seo %}

      <meta name="title" content="{{ config.getConfig['meta_title'] }}">
      <meta name="description" content="{{ config.getConfig['meta_desc'] | raw }}" />
      <meta name="keywords" content="{{ config.getConfig['meta_keyword'] }}" />
{% endblock %}

{% block body %}

    <div class="main-content">
        <!-- Section: home -->
        <section id="home">
            <div class="container-fluid p-0">

                <!-- Slider Revolution Start -->
                <div class="rev_slider_wrapper">
                    <div class="rev_slider" data-version="5.0">
                        <ul>

                            {% for slider in sliders %}

                                <!-- SLIDE 1 -->
                                <li data-index="rs-3" data-transition="slidingoverlayhorizontal"
                                    data-slotamount="default" data-easein="default" data-easeout="default"
                                    data-masterspeed="default" data-thumb="images/slider.jpg" data-rotate="0"
                                    data-saveperformance="off" data-title="Slide 3" data-description="">
                                    <!-- MAIN IMAGE -->
                                    <img src="{{ asset('uploads/Sliders/') }}{{ slider.photo }} " alt="{{ config.getConfig['site_name'] }}"
                                         data-bgposition="center 20%" data-bgfit="cover" data-bgrepeat="no-repeat"
                                         class="rev-slidebg" data-bgparallax="10" data-no-retina>
                                    <!-- LAYERS -->


                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption tp-resizeme text-uppercase text-black-222 font-raleway"
                                         id="rs-3-layer-2"
                                         data-x="['center']"
                                         data-hoffset="['0']"
                                         data-y="['middle']"
                                         data-voffset="['-25']"
                                         data-fontsize="['32']"
                                         data-lineheight="['54']"
                                         data-width="none"
                                         data-height="none"
                                         data-whitespace="nowrap"
                                         data-transform_idle="o:1;s:500"
                                         data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                         data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                         data-start="1000"
                                         data-splitin="none"
                                         data-splitout="none"
                                         data-responsive_offset="on"
                                         style="z-index: 7; white-space: nowrap; font-weight:600;">
                                        {{ slider.title }}
                                    </div>

                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption tp-resizeme text-black-444 text-center"
                                         id="rs-3-layer-3"
                                         data-x="['center']"
                                         data-hoffset="['0']"
                                         data-y="['middle']"
                                         data-voffset="['30']"
                                         data-fontsize="['14','16',20']"
                                         data-lineheight="['25']"
                                         data-width="none"
                                         data-height="none"
                                         data-whitespace="nowrap"
                                         data-transform_idle="o:1;s:500"
                                         data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                         data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                         data-start="1400"
                                         data-splitin="none"
                                         data-splitout="none"
                                         data-responsive_offset="on"
                                         style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">
                                        {{ slider.description }}
                                    </div>

                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption tp-resizeme"
                                         id="rs-3-layer-4"
                                         data-x="['center']"
                                         data-hoffset="['0']"
                                         data-y="['middle']"
                                         data-voffset="['95']"
                                         data-width="none"
                                         data-height="none"
                                         data-whitespace="nowrap"
                                         data-transform_idle="o:1;"
                                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                         data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                         data-start="1400"
                                         data-splitin="none"
                                         data-splitout="none"
                                         data-responsive_offset="on"
                                         style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
                                        <a class="btn btn-colored btn-lg btn-flat btn-theme-colored pl-20 pr-20"
                                           href="#">
                                            تواصل معنا
                                        </a>
                                    </div>
                                </li>

                            {% endfor %}
                        </ul>
                    </div>
                    <!-- end .rev_slider -->
                </div>
                <!-- end .rev_slider_wrapper -->

                <!-- Slider Revolution Ends -->
            </div>
        </section>

        <!-- Section: About -->
        <section>
            <div class="container pt-50">
                <div class="section-content text-center">
                    <div class="row">
                        <div class="col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                            <h3 class="text-uppercase mt-0">
                                اهلا بيكم فى <span class="text-theme-colored font-weight-600">مركز فايتا </span> للعلاج
                                الطبيعى
                            </h3>
                            <h5 class="text-gray-dimgray font-weight-400">
                                هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية
                            </h5>
                        </div>
                    </div>


                    <div class="row mt-40">

                        {% for category in config.getCategories %}
                            <div class="col-sm-6 col-md-4 maxwidth500 mb-sm-40 wow fadeInLeft" data-wow-duration="1s"
                                 data-wow-delay="0.3s">
                                <img class="img-thumbnail"
                                     src="{{ asset('uploads/Service/Categories/') }}{{ category.photo }} "
                                     alt="{{ config.getConfig['site_name'] }}" width="363" height="247">
                                <h5> {{ category.title }}</h5>
                                <p>
                                    {{ category.description }}
                                </p>
                                <a href="{{  path('front_services',{ 'id':category.id }) }}" class="btn btn-sm btn-theme-colored">قراءة المزيد</a>
                            </div>

                        {% endfor %}


                    </div>
                </div>
            </div>
        </section>

        <!-- Section: chooseus -->
        <section class="divider parallax layer-overlay overlay-blue" data-bg-img="http://placehold.it/1920x1280">
            <div class="container pb-0">
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-8 col-md-push-4">
                            <div class="row features-style1">
                                <div class="col-sm-12">
                                    <h2 class="text-white pl-15 mb-20">لماذا أخترتنا</h2>
                                    <p class="font-20 text-white-f3 pl-15 mb-30">
                                        هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها
                                        بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص تريد أن تستخدم نص
                                    </p>
                                    <div class="col-sm-6">
                                        <div class="icon-box left media p-0">
                                            <a href="#"
                                               class="icon icon-md icon-circled border-1px pull-left flip icon-hov">
                                                <i class="flaticon-medical-ambulance14"></i>
                                            </a>
                                            <div class="media-body">
                                                <h5 class="media-heading heading text-white">الرعاية في حالات
                                                    الطوارئ</h5>
                                                <p class="text-white-f3">
                                                    هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم.
                                                    <a class="text-theme-colored ml-5" href="#"> →</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="icon-box left media p-0">
                                            <a href="#"
                                               class="icon icon-md icon-circled border-1px pull-left flip icon-hov">
                                                <i class="flaticon-medical-illness"></i>
                                            </a>
                                            <div class="media-body">
                                                <h5 class="media-heading heading text-white">غرفة عمليات</h5>
                                                <p class="text-white-f3">
                                                    هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم.
                                                    <a class="text-theme-colored ml-5" href="#"> →</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <div class="icon-box left media p-0">
                                            <a href="#"
                                               class="icon icon-md icon-circled border-1px pull-left flip icon-hov">
                                                <i class="flaticon-medical-hospitals1"></i>
                                            </a>
                                            <div class="media-body">
                                                <h5 class="media-heading heading text-white">خدمة علاج السرطان</h5>
                                                <p class="text-white-f3">
                                                    هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم.
                                                    <a class="text-theme-colored ml-5" href="#"> →</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="icon-box left media p-0">
                                            <a href="#"
                                               class="icon icon-md icon-circled border-1px pull-left flip icon-hov">
                                                <i class="flaticon-medical-tablets9"></i>
                                            </a>
                                            <div class="media-body">
                                                <h5 class="media-heading heading text-white">الصيدلة</h5>
                                                <p class="text-white-f3">
                                                    هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم.
                                                    <a class="text-theme-colored ml-5" href="#"> →</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-pull-8" data-margin-top="-45px">
                            <img src="http://placehold.it/380x570" alt="{{ config.getConfig['site_name'] }}">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Service  -->
        <section id="services">
            <div class="container pb-30 pb-sm-60">
                <div class="section-content">
                    <div class="row mtli-row-clearfix">
                        <div class="col-md-8">
                            <h3 class="mt-0 line-height-1 line-bottom">
                                <span>خدمات </span>
                                <span class="text-theme-colored"> مميزة</span>
                            </h3>
                            <div class="row">
                                {% for specialService in specialServices %}
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="icon-box p-10 mb-30">
                                        <div class="media-left">
                                            <a class="icon icon-md icon-color flip mb-0 mr-0 mt-5" href="#">
                                                <i class="flaticon-medical-xray2 text-theme-colored"></i>
                                            </a>
                                        </div>
                                        <div class="icon-box-details media-body">
                                            <h5 class="icon-box-title m-0 mb-5">
                                                {{ specialService.title }}
                                            </h5>
                                            <p class="mb-0">
                                               {{ specialService.shortDesc }}
                                            </p>
                                            <a href="{{ path('front_service_detail',{ 'id': specialService.id }) }}">قراءة المزيد</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="border-5px border-theme-colored p-30 mt-70">
                                <h5 class="mt-0">
                                    <i class="fa fa-clock-o text-theme-colored"></i>
                                    ساعات العمل
                                </h5>
                                <div class="opening-hours open-hours-new text-left">
                                    <ul class="list-unstyled">
                                        {% for time in times %}
                                        <li class="clearfix line-height-1">
                                            <span> {{ time.dayName }} </span>
                                            <div class="value"> {{ time.timeFrom }} - {{ time.timeTo }}</div>
                                        </li>
                                        {%  endfor %}
                                    </ul>
                                </div>
                                <h5 class="mt-30">
                                    <i class="fa fa-pencil-square-o text-theme-colored"></i>
                                    تحتاج مساعدة؟
                                </h5>
                                <p class="mt-0">
                                    ما عليك سوى تحديد موعد للحصول على المساعدة من خبرائنا
                                </p>
                                <a href="#" class="btn btn-dark btn-theme-colored mt-15" data-toggle="modal"
                                   data-target="#modal_appontment_form_at_about">
                                    طلب موعد
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Videos  -->
        <section class="bg-lighter">
            <div class="container pt-100 pb-100">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mt-0 line-height-1">
                                معرض
                                <span class="text-theme-colored">الفيديوهات</span>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="owl-carousel-3col" data-nav="true">
                                {% for video in videos %}
                                <div class="item">
                                    <iframe width="560" height="315" src="{{ video.link }}"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Divider: Make a Donation -->
        <section class="divider parallax layer-overlay overlay-dark-6" data-bg-img="http://placehold.it/1920x1280"
                 data-parallax-ratio="0.7">
            <div class="container pt-0 pb-0">
                <div class="row">
                    <div class="col-sm-6 col-md-5">
                        <div class="bg-light-transparent">
                            <h4 class="bg-theme-colored p-10 pr-30 mb-0 mt-0 text-white">
                                احجز هنا
                            </h4>

                            <form class="p-30 pt-10 mb-0" method="post"
                                  action="{{ path('front_booking_send') }}" novalidate="novalidate">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group mb-10">
                                            <label>
                                                الاسم
                                                <small>*</small>
                                            </label>
                                            <input name="name" class="form-control" required=""
                                                   placeholder="ادخل اسمك" aria-required="true" type="text">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group mb-10">
                                            <label for="form_email">
                                                البريد الالكترونى
                                                <small>*</small>
                                            </label>
                                            <input name="email" class="form-control required email"
                                                   placeholder="ادخل بريدك الالكترونى" aria-required="true"
                                                   type="email">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-10">
                                            <label>
                                                التاريخ
                                                <small>*</small>
                                            </label>
                                            <input name="date" class="form-control required date-picker"
                                                   placeholder="تاريخ الحجز" aria-required="true" type="text">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group mb-10">
                                            <label>
                                                الهاتف
                                                <small>*</small>
                                            </label>
                                            <input name="phone" class="form-control" placeholder="ادخل هاتفك"
                                                   aria-required="true" type="tel">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-10">
                                    <label>
                                        الرسالة
                                        <small>*</small>
                                    </label>
                                    <textarea name="message" class="form-control required"
                                              placeholder="اكتب رسالتك" rows="5" aria-required="true"></textarea>
                                </div>
                                {#<div class="form-group mb-0 mt-20">#}
                                    {#<input name="form_botcheck" class="form-control" value="" type="hidden">#}
                                    {#<button type="submit"#}
                                            {#class="btn btn-block btn-theme-colored btn-sm mt-20 pt-10 pb-10 text-uppercase"#}
                                            {#data-loading-text="Please wait...">#}
                                        {#تأكيد#}
                                    {#</button>#}

                                    <input type="submit" class="btn btn-block btn-theme-colored btn-sm mt-20 pt-10 pb-10 text-uppercase"
                                           data-loading-text="Please wait..." value="تأكيد" >
                                {#</div>#}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Divider: Funfact -->
        <section class="divider parallax layer-overlay overlay-dark-7" data-bg-img="http://placehold.it/1920x1280"
                 data-parallax-ratio="0.7">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50 wow fadeInLeft" data-wow-duration="1s"
                         data-wow-delay="0.3s">
                        <div class="funfact">
                            <i class="pe-7s-smile text-white-f1 mt-20 font-48 pull-left flip"></i>
                            <div class="ml-60">
                                <h2 class="animate-number text-white-f1 mt-0 mb-0 font-48 line-bottom" data-value="754"
                                    data-animation-duration="2000">0</h2>
                                <div class="clearfix"></div>
                                <h5 class="text-white-f1">متبرعون سعداء</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50 wow fadeInLeft" data-wow-duration="1s"
                         data-wow-delay="0.4s">
                        <div class="funfact">
                            <i class="pe-7s-rocket text-white-f1 mt-20 font-48 pull-left flip"></i>
                            <div class="ml-60">
                                <h2 class="animate-number text-white-f1 mt-0 mb-0 font-48 line-bottom" data-value="125"
                                    data-animation-duration="2500">0</h2>
                                <div class="clearfix"></div>
                                <h5 class="text-white-f1">مهمة ناجحة</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50 wow fadeInLeft" data-wow-duration="1s"
                         data-wow-delay="0.5s">
                        <div class="funfact">
                            <i class="pe-7s-add-user text-white-f1 mt-20 font-48 pull-left flip"></i>
                            <div class="ml-60">
                                <h2 class="animate-number text-white-f1 mt-0 mb-0 font-48 line-bottom" data-value="150"
                                    data-animation-duration="3000">0</h2>
                                <div class="clearfix"></div>
                                <h5 class="text-white-f1">متطوعون</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInLeft" data-wow-duration="1s"
                         data-wow-delay="0.6s">
                        <div class="funfact">
                            <i class="pe-7s-global text-white-f1 mt-20 font-48 pull-left flip"></i>
                            <div class="ml-60">
                                <h2 class="animate-number text-white-f1 mt-0 mb-0 font-48 line-bottom" data-value="55"
                                    data-animation-duration="3500">0</h2>
                                <div class="clearfix"></div>
                                <h5 class="text-white-f1">مشاركات عالمية</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: team -->
        <section class="bg-lighter">
            <div class="container">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mt-0 line-height-1">
                                التقى ب
                                <span class="text-theme-colored">اطباؤنا</span>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row">


                        {% for doctor in teams %}
                            <div class="col-md-4">
                                <div class="item">
                                    <div class="team-block">
                                        <div class="team-thumb">
                                            <img class="img-fullwidth"
                                                 src="{{ asset('uploads/Teams/') }}{{ doctor.photo }}" alt="{{ config.getConfig['site_name'] }}">
                                            <div class="team-overlay">
                                                <ul class="list-inline text-white font-12 mb-10">
                                                    <li>
                                                        <i aria-hidden="true"
                                                           class="fa fa-phone text-theme-color-2 mr-10"></i>
                                                        التليفون: {{ doctor.phone }}
                                                    </li>
                                                    <li>
                                                        <i aria-hidden="true"
                                                           class="fa fa-envelope-o text-theme-color-2 mr-10"></i>
                                                        البريد الالكترونى: {{ doctor.email }}
                                                    </li>
                                                </ul>
                                                <p class="text-white font-13 mt-10">
                                                    ماجستير التكنولوجيا الحيوية الطبية
                                                </p>
                                            </div>
                                        </div>
                                        <div class="info p-5 bg-white text-center">
                                            <h4>
                                                {{ doctor.title }}
                                            </h4>
                                            <p>
                                                {{ doctor.JobTitle }}

                                            </p>
                                            <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-15 mb-0">
                                                <li>
                                                    <a href="{{ doctor.fbLink }}">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ doctor.twitterLink }}">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ doctor.youtubeLink }}">
                                                        <i class="fa fa-youtube"></i>
                                                    </a>
                                                </li>
                                                {#<li>#}
                                                    {#<a href="#">#}
                                                        {#<i class="fa fa-google-plus"></i>#}
                                                    {#</a>#}
                                                {#</li>#}
                                                <li>
                                                    <a href="{{ doctor.skypeLink }}">
                                                        <i class="fa fa-skype"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Call To Action -->
        <section class="bg-theme-colored border-left border-3px">
            <div class="container pt-20 pb-20">
                <div class="call-to-action">
                    <div class="row">
                        <div class="col-sm-8 sm-text-center">
                            <h4 class="text-uppercase text-white">
                                أفضل الخدمات الطبية في المدينة!
                            </h4>
                            <p class="text-white">
                                هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما
                            </p>
                        </div>
                        <div class="col-sm-4 text-right flip sm-text-center">
                            <a href="page-contact1.html" class="btn btn-default mt-30 mt-sm-20">
                                تواصل معنا
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: Gallery-->
        <section>
            <div class="container">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                            <h2 class="mt-0 line-height-1 text-center text-uppercase">
                                معرض
                                <span class="text-theme-colored">الصور</span>
                            </h2>
                            <p>
                                هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما
                                عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Portfolio Filter -->
                            <div class="portfolio-filter font-alt text-center mb-6 0">
                                <a href="#" class="active" data-filter="*">الكل</a>
                                {% for category in photosCategories %}
                                <a href="#{{ category.title }}" class="" data-filter=".{{ category.title }}">{{ category.title }}</a>
                                {% endfor %}
                                {#<a href="#surgery" class="" data-filter=".surgery">Design</a>#}
                                {#<a href="#laboratory" class="" data-filter=".laboratory">Photography</a>#}
                            </div>
                            <!-- End Portfolio Filter -->

                            <!-- Portfolio Gallery Grid -->
                            <div id="grid" class="gallery-isotope masonry grid-3 gutter clearfix">
                                <!-- Portfolio Item Start -->

                                {% for category in  photosCategories %}
                                    {% for photo in category.photos %}
                                        {#{{ photo.photo }}#}
                                        <div class="gallery-item {{ category.title }}">

                                            <div class="thumb">
                                                <img class="img-fullwidth" style="width: 375px;height: 258px;" src="{{ asset('uploads/Photos') }}/{{ photo.photo }}" alt="{{ config.getConfig['site_name'] }}">
                                                <div class="overlay-shade"></div>
                                                <div class="icons-holder">
                                                    <div class="icons-holder-inner styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                        <a data-lightbox="image" href="http://placehold.it/375x258"
                                                           data-type="prettyPhoto[gallery]">
                                                            <i class="fa fa-picture-o"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                <!-- Portfolio Item End -->

                            </div>
                            <!-- End Portfolio Gallery Grid -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Divider: testimonials -->
        <section class="divider parallax layer-overlay overlay-white-6" data-bg-img="http://placehold.it/1920x1280"
                 data-parallax-ratio="0.7">
            <div class="container">
                <div class="section-content">
                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                            <div class="testimonial">
                                <div class="owl-carousel-1col" data-dots="true">

                                    {% for testimonial in testimonials %}

                                        <div class="item text-center">
                                            <a class="mt-20 display-block" href="#">
                                                <img alt="" alt="{{ config.getConfig['site_name'] }}" src="http://placehold.it/100x100" class="p-5 border-2px">
                                            </a>
                                            <h4 class="service-box-title font-weight-800 text-black-222">
                                                {{ testimonial.customerName }}
                                            </h4>
                                            <span class="font-14 font-weight-600 text-theme-colored">
                                                    {{  testimonial.customerPosition }}
                                                </span>
                                            <p class="mb-0 font-droid font-22 text-black-444 mt-20">
                                                هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم
                                                تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص تريد
                                                أن تستخدم نص لوريم إيبسوم ما، عليك أن هذا النص, ولكن الغالبية تم تعديلها
                                                بشكل ما عبر إدخال بعض النوادر.
                                            </p>
                                            <i class="fa fa-quote-left text-gray-lightgray font-42 mt-20"></i>
                                        </div>

                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section: blog -->
        <section id="blog">
            <div class="container pb-sm-30">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                            <h2 class="mt-0 line-height-1 text-center text-uppercase">
                                اخر
                                <span class="text-theme-colored">الأخبار</span>
                            </h2>
                            <p>
                                هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما
                                عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص تريد أن تستخدم نص لوريم إيبسوم ما،
                                عليك أن هذا النص, ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row">
                        {% for article in news %}
                        <div class="col-sm-4 col-md-4 col-lg-4 wow fadeInLeft" data-wow-duration="1s"
                             data-wow-delay="0.3s">
                            <article class="post clearfix mb-sm-30 bg-lighter">
                                <div class="entry-header">
                                    <div class="post-thumb thumb">
                                        <img src="{{ asset('uploads/Blogs')}}/{{ article.photo }}" alt="{{ config.getConfig['site_name'] }}"
                                             class="img-responsive img-fullwidth">
                                    </div>
                                </div>
                                <div class="entry-content p-20 pr-10">
                                    <div class="entry-meta media mt-0 no-bg no-border">
                                        <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                                            <ul>
                                                <li class="border-bottom">28</li>
                                                <li class="font-12 text-uppercase">فبراير</li>
                                            </ul>
                                        </div>
                                        <div class="media-body pl-15">
                                            <div class="event-content pull-left flip">
                                                <h5 class="entry-title text-white text-uppercase m-0 mt-5">
                                                    <a href="{{ path('front_news_details',{'slug':article.slug}) }}">{{ article.title }}</a>
                                                </h5>
                                                <span class="mb-10 text-gray-darkgray mr-10 font-13">
                                                            <i class="fa fa-commenting-o mr-5 text-theme-colored"></i>
                                                            214 تعليقات
                                                        </span>
                                                <span class="mb-10 text-gray-darkgray mr-10 font-13">
                                                            <i class="fa fa-heart-o mr-5 text-theme-colored"></i>
                                                            895 اعجاب
                                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mt-10">
                                       {{ article.shortDesc }}
                                    </p>
                                    <a href="#" class="btn-read-more">قراءة المزيد</a>
                                    <div class="clearfix"></div>
                                </div>
                            </article>
                        </div>
                        {% endfor %}
                        {#<div class="col-sm-4 col-md-4 col-lg-4 wow fadeInLeft" data-wow-duration="1s"#}
                             {#data-wow-delay="0.4s">#}
                            {#<article class="post clearfix mb-sm-30 bg-lighter">#}
                                {#<div class="entry-header">#}
                                    {#<div class="post-thumb thumb">#}
                                        {#<img src="http://placehold.it/360x220" alt=""#}
                                             {#class="img-responsive img-fullwidth">#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="entry-content p-20 pr-10">#}
                                    {#<div class="entry-meta media mt-0 no-bg no-border">#}
                                        {#<div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">#}
                                            {#<ul>#}
                                                {#<li class="border-bottom">28</li>#}
                                                {#<li class="font-12 text-uppercase">فبراير</li>#}
                                            {#</ul>#}
                                        {#</div>#}
                                        {#<div class="media-body pl-15">#}
                                            {#<div class="event-content pull-left flip">#}
                                                {#<h5 class="entry-title text-white text-uppercase m-0 mt-5">#}
                                                    {#<a href="#">عنوان المقال</a>#}
                                                {#</h5>#}
                                                {#<span class="mb-10 text-gray-darkgray mr-10 font-13">#}
                                                            {#<i class="fa fa-commenting-o mr-5 text-theme-colored"></i>#}
                                                            {#214 تعليقات#}
                                                        {#</span>#}
                                                {#<span class="mb-10 text-gray-darkgray mr-10 font-13">#}
                                                            {#<i class="fa fa-heart-o mr-5 text-theme-colored"></i>#}
                                                            {#895 اعجاب#}
                                                        {#</span>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<p class="mt-10">#}
                                        {#هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها#}
                                        {#بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص تريد أن تستخدم نص#}
                                        {#لوريم إيبسوم ما، عليك أن هذا النص, ولكن الغالبية تم تعديلها بشكل ما عبر إدخال#}
                                        {#بعض النوادر.#}
                                    {#</p>#}
                                    {#<a href="#" class="btn-read-more">قراءة المزيد</a>#}
                                    {#<div class="clearfix"></div>#}
                                {#</div>#}
                            {#</article>#}
                        {#</div>#}
                        {#<div class="col-sm-4 col-md-4 col-lg-4 wow fadeInLeft" data-wow-duration="1s"#}
                             {#data-wow-delay="0.5s">#}
                            {#<article class="post clearfix mb-sm-30 bg-lighter">#}
                                {#<div class="entry-header">#}
                                    {#<div class="post-thumb thumb">#}
                                        {#<img src="http://placehold.it/360x220" alt=""#}
                                             {#class="img-responsive img-fullwidth">#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="entry-content p-20 pr-10">#}
                                    {#<div class="entry-meta media mt-0 no-bg no-border">#}
                                        {#<div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">#}
                                            {#<ul>#}
                                                {#<li class="border-bottom">28</li>#}
                                                {#<li class="font-12 text-uppercase">فبراير</li>#}
                                            {#</ul>#}
                                        {#</div>#}
                                        {#<div class="media-body pl-15">#}
                                            {#<div class="event-content pull-left flip">#}
                                                {#<h5 class="entry-title text-white text-uppercase m-0 mt-5">#}
                                                    {#<a href="#">عنوان المقال</a>#}
                                                {#</h5>#}
                                                {#<span class="mb-10 text-gray-darkgray mr-10 font-13">#}
                                                            {#<i class="fa fa-commenting-o mr-5 text-theme-colored"></i>#}
                                                            {#214 تعليقات#}
                                                        {#</span>#}
                                                {#<span class="mb-10 text-gray-darkgray mr-10 font-13">#}
                                                            {#<i class="fa fa-heart-o mr-5 text-theme-colored"></i>#}
                                                            {#895 اعجاب#}
                                                        {#</span>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<p class="mt-10">#}
                                        {#هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها#}
                                        {#بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص تريد أن تستخدم نص#}
                                        {#لوريم إيبسوم ما، عليك أن هذا النص, ولكن الغالبية تم تعديلها بشكل ما عبر إدخال#}
                                        {#بعض النوادر.#}
                                    {#</p>#}
                                    {#<a href="#" class="btn-read-more">قراءة المزيد</a>#}
                                    {#<div class="clearfix"></div>#}
                                {#</div>#}
                            {#</article>#}
                        {#</div>#}
                    </div>
                </div>
            </div>
        </section>

        <!-- Divider: Call To Action -->
        {#<section class="bg-theme-colored">#}
            {#<div class="container pt-0 pb-0">#}
                {#<div class="row">#}
                    {#<div class="call-to-action pt-30 pb-20">#}
                        {#<div class="col-sm-4 col-md-4">#}
                            {#<div class="widget border-right mb-15">#}
                                {#<i class="fa fa-map text-white pull-left flip font-32 ml-30 mt-5"></i>#}
                                {#<h5 class="text-white mb-5 font-weight-600">#}
                                    {#29 شارع ابو بكر الصديق , شبين الكوم , المنوفية#}
                                {#</h5>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-sm-4 col-md-4">#}
                            {#<div class="widget mb-15">#}
                                {#<i class="fa fa-envelope-o text-white pull-left flip font-36 ml-30"></i>#}
                                {#<h5 class="text-white mb-5 pt-5 font-weight-600">#}
                                    {#you@yourdomain.com#}
                                {#</h5>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-sm-4 col-md-4">#}
                            {#<div class="widget mb-15">#}
                                {#<!-- Mailchimp Subscription Form Starts Here -->#}
                                {#<form id="mailchimp-subscription-form" class="newsletter-form mt-15">#}
                                    {#<div class="input-group">#}
                                        {#<input type="email" value="" name="EMAIL" placeholder="بريدك الالكترونى"#}
                                               {#class="form-control input-lg font-16" data-height="45px" id="mce-EMAIL1">#}
                                        {#<span class="input-group-btn">#}
                                                    {#<button data-height="45px"#}
                                                            {#class="btn btn-default btn-gray btn-xs font-14 m-0"#}
                                                            {#type="submit">#}
                                                        {#اشتراك#}
                                                    {#</button>#}
                                                {#</span>#}
                                    {#</div>#}
                                {#</form>#}

                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</section>#}
    </div>

{% endblock %}
